
*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}


.stk-push-container{
    background-color: rgba(118, 11, 240, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



